<!DOCTYPE html>
<html>

<head>
    {include file='common/header'}
    <title>layui</title>
    <!--引入webuploaderCss-->
    {Uploader:webuploadercss /}

    <style>
        .form-container{ padding-top: 30px;}
    </style>
</head>

<body>
    <div class="form-container">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">所属用户组</label>
                <div class="layui-inline">
                    <select name="group_id" lay-verify="required">
                        {volist name='groupData' id='data' key="key"}
                        <option value="{$data.id}" {if condition="$key == 0"}selected{/if}>{$data.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-col-xs6">
                    <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="用户名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-col-xs6">
                    <input type="password" name="password" lay-verify="required|pass" autocomplete="off" placeholder="密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-col-xs6">
                    <input type="password" name="repassword" lay-verify="required|pass" autocomplete="off" placeholder="确认密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    {include file='common/footer'}
    <!--引入webuploaderJS-->
    {Uploader:webuploaderjs/}

    <script>
        layui.use(['form', 'layedit', 'laydate'], function() {
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                name: function(value) {
                   if (value.length < 2) {
                       return '标题至少得2个字符啊';
                   }
                },
                pass: function (value) {
                    if(!/^[\S]{6,12}$/.test(value)){
                        return '密码必须是6-12位';
                    }
                }
            });

            //监听提交
            form.on('submit(demo1)', function(data) {
                var formDom = data.form;
                $.ajax({
                    url: "{:url('save')}",
                    type: "post",
                    data: $(formDom).serialize(),
                    success: function(res){
                        var msgParams = {
                            iconNum: 6,
                            anim: 0
                        };
                        if(Number(res.code) == 0){
                            msgParams.iconNum = 5;
                            msgParams.anim = 0;
                        }else{
                            setTimeout(function(){
                                if(res.data){
                                    parent.window.location = res.data;
                                }
                            },1000);
                        }

                        layer.msg(res.msg, {icon: msgParams.iconNum,time:1000,anim:msgParams.anim});
                    }
                });


                return false;
            });


        });
    </script>

</body>

</html>